In [25]:
#schools data
# add pandas dependency 
import pandas as pd
import os
#direct method with reading
#school_data_to_load=pd.read_csv("Resources\schools_complete.csv")
#indirect method
school_data_to_load=os.path.join("Resources","schools_complete.csv")
school_data_df=pd.read_csv(schools_data_to_load)
school_data_df
#student_data_df=pd.read_csv("Resources\students_complete.csv")
#student_data_df.head()

#determine if there are any blank values in the school data
school_data_df.count()
#determine if there are any missing values
school_data_df.isnull()

#deterime data types for the school DataFrame
school_data_df.dtypes
school_data_df.budget.dtype

dtype('int64')

In [31]:
#student data
# add pandas dependency 
import pandas as pd
student_data_df=pd.read_csv("Resources\students_complete.csv")
student_data_df.head()
#deteremine if there are any blank values
student_data_df.count()
#determine if there are any missing values
student_data_df.isnull().sum()
#determine if there are any missing values by showing true if there are values in the cell
student_data_df.notnull().sum()

#determine data types for the students DataFrame
student_data_df.dtypes

#unique prefixes are Mrs. Mr. Miss and Dr. Ms.
#unique suffixes are DDS, MD, DVM, and PhD
#replace prefix and suffix with ""
#add each to a list
prefixes_suffixes=["Ms. ","Mrs. ","Mr. ","Miss ","Dr. "," DDS"," MD"," DVM"," PhD"]
#replace can be used on strings and student_name is an object so we need to convert it
student_data_df["student_name"].str.replace
#iterate through the prefix and suffix list and replace with "" when they appear in the students name
for i in prefixes_suffixes:
    student_data_df["student_name"]=student_data_df["student_name"].str.replace(i,"")
student_data_df.head(10)

C:\Users\laura\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84