In [34]:
#schools data
# add pandas dependency 
import pandas as pd
import os
#direct method with reading
#school_data_to_load=pd.read_csv("Resources\schools_complete.csv")
#indirect method
school_data_to_load=os.path.join("Resources","schools_complete.csv")
school_data_df=pd.read_csv(schools_data_to_load)
school_data_df
#student_data_df=pd.read_csv("Resources\students_complete.csv")
#student_data_df.head()

#determine if there are any blank values in the school data
school_data_df.count()
#determine if there are any missing values
school_data_df.isnull()

#deterime data types for the school DataFrame
school_data_df.dtypes
school_data_df.budget.dtype

dtype('int64')

In [32]:
#student data
# add pandas dependency 
import pandas as pd
student_data_df=pd.read_csv("Resources\students_complete.csv")
student_data_df.head()
#deteremine if there are any blank values
student_data_df.count()
#determine if there are any missing values
student_data_df.isnull().sum()
#determine if there are any missing values by showing true if there are values in the cell
student_data_df.notnull().sum()

#determine data types for the students DataFrame
student_data_df.dtypes

#unique prefixes are Mrs. Mr. Miss and Dr. Ms.
#unique suffixes are DDS, MD, DVM, and PhD
#replace prefix and suffix with ""
#add each to a list
prefixes_suffixes=["Ms. ","Mrs. ","Mr. ","Miss ","Dr. "," DDS"," MD"," DVM"," PhD"]
#replace can be used on strings and student_name is an object so we need to convert it
student_data_df["student_name"].str.replace
#iterate through the prefix and suffix list and replace with "" when they appear in the students name
for i in prefixes_suffixes:
    student_data_df["student_name"]=student_data_df["student_name"].str.replace(i,"")
student_data_df.head(20)

C:\Users\laura\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80

In [71]:
#merge 2 data frames
school_data_complete_df=pd.merge(student_data_df,school_data_df,on=["school_name","school_name"])
school_data_complete_df.head()
#count number of students
student_count=school_data_complete_df["Student ID"].count()
student_count
#count number of schools
school_count=len(school_data_complete_df["school_name"].unique())
school_count
#calculate total budget
total_budget=school_data_df["budget"].sum()
total_budget
#average reading score
average_reading_score=school_data_complete_df["reading_score"].mean()
print(average_reading_score)
#average math score
average_math_score=school_data_complete_df["math_score"].mean()
print(average_math_score)

#set passing score for math and reading
passing_reading_score=school_data_complete_df["reading_score"]>=70
passing_math_score=school_data_complete_df["math_score"]>=70

#get a data frame of students who passed math in a new data frame
passing_math_score=school_data_complete_df[school_data_complete_df["math_score"]>=70]
#count the number of students who passed math
passing_math_score_count=passing_math_score["student_name"].count()
#get a data frame of students who passed reading in a new data frame
passing_reading_score=school_data_complete_df[school_data_complete_df["reading_score"]>=70]
#count the number of students who passed reading
passing_reading_score_count=passing_reading_score["student_name"].count()
#get the number of students who passed math and reading in a new data frame
passing_mathandreading_score=passing_math_score[passing_math_score["reading_score"]>=70]
#count the number of students who passed math and reading
passing_mathandreading_score_count=passing_mathandreading_score["student_name"].count()

#alternative way to find students who passed math and reading with and statement
#passing_mathandreading=school_data_complete_df[school_data_complete_df["math_score"]>=70] & school_data_complete_df[school_data_complete_df["reading_score"]>=70]

print(passing_math_score_count)
print(passing_reading_score_count)
print(passing_mathandreading_score_count)

#calculate % students who passed Math
student_percent_pass_math=passing_math_score_count / float(student_count) * 100
#calculate % of students who passed Reading
student_percent_pass_reading=passing_reading_score_count / float(student_count) * 100
#calcuate % of students who passed Math and Reading
student_percent_pass_mathandreading=passing_mathandreading_score_count / float(student_count) * 100

print(student_percent_pass_math)
print(student_percent_pass_reading)
print(student_percent_pass_mathandreading)

81.87784018381414
78.98537145774827
29370
33610
25528
74.9808526933878
85.80546336482001
65.17232575950983

In [98]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df=pd.DataFrame([{"Total Schools":school_count,"Total Students":student_count,
                                  "Total Budget":total_budget,"Average Math Score":average_math_score,"Average Reading Score":average_reading_score,"% Passing Math":student_percent_pass_math,"% Passing Reading":student_percent_pass_reading,"% Overall Passing":student_percent_pass_mathandreading}])
district_summary_df
#cleaning up formatting
#add , to Total Students
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]
#add , and $ to total budget
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]
#one decimal place for math score
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.1f}".format)
#one decimal place for reading score
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.1f}".format)
#whole number % for passing math 
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.0f}".format)
#whole number % for passing reading 
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.0f}".format)
#whole number % for passing math and reading
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.0f}".format)
district_summary_df

#reorder columns practice

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [86]:
#define a function that calculates students who passed math and returns passing % when called
def pass_math(passing_math_score_count,student_count):
    return passing_math_score_count / float(student_count) * 100

In [85]:
#call the function
pass_math(passing_math_score_count,student_count)

74.9808526933878